<footer class="py-5 text-center mx-auto">
    <p><span class="fw-bold">Realizado por: </span>Darold K. Trench</p>
    <p class="small">https://github.com/Grukur<i class="bi bi-r-circle"></i></p>
</footer>

<style>
    footer {
        background-color: #FFB3BB;
    }
</style>