<nav class="nav-color navbar navbar-expand-lg" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand mx-5 btnNav" href="/home">Banco Otrora</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btnNav" aria-current="page" href="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btnNav" href="/about">Conocenos</a>
                </li>
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link" href="/animes">Cuentas</a></button>                    
                </li>
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link" href="/animes">Usuarios</a></button>                    
                </li>
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link" href="/animes">Registros</a></button>                    
                </li>
            </ul>
        </div>
    </div>
</nav>


<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        height: 15vh;
        background-image: url("/banner.jfif");
        background-size: cover;
        background-position: 80%;
    }

    .nav-link {
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 1;
        color: white;
        z-index: 1;
    }

    .nav-link:hover {
        opacity: 1;
        color: black;
    }

    .btnNav {
        background-color: transparent;
        border: none;
        z-index: 0;
    }

    .btnNav:hover {
        opacity: 0.6;
        background-color: rgb(89, 83, 143);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 5px;
        z-index: 0;
    }

    .navbar-brand {
        font-size: 2rem;
        color: rgb(22, 0, 109);
        font-weight: bold;
        margin-top: 100px;
    }

    .navbar-nav{
        margin-top: 100px;
    }

</style>